<html>
<body>
<h3 align="center">ENTER BOOK DETAILS</h3>
<script type="text/javascript">
   // console.log(errorMsg );
</script>    
<form id = "Books">
    <table align="center" cellpadding="10">
        <tr>
            <td>BOOK ID</td>
            <td><input id="bookId" type="text" name="bookId" autofocus} />
            </td>
        </tr>
        <tr>
            <td>TITLE</td>
            <td><input id="title" type="text" name="title"/>
            </td>
        </tr>
        <tr>
            <td>AUTHOR</td>
            <td><input id="author" type="text" name="author"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="submit" name="Submit" formaction="/create" formmethod="POST"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="home" name="Home" formaction="/home" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>